li a {
    color: white;
}
body {
       background: lightblue;
       background-repeat:no-repeat;
       background-size: cover;

}
h1{
    color: orange;
}
li
{
    color: white;
}
label
{
    color: red;
}
a 
{
    color: yellow;
}